<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link rel='stylesheet' href='/meditation.css'>
</head>
<body>
	<div id="menubar">
		<ul>
			<a href='home'><li>Home</li></a>
			<a href='timer'><li>Meditation</li></a>
			<a href='progress'><li>Progress</li></a>
			<a href='accountmod'><li>Account</li></a>
			<a href='logout'><li>Logout</li></a>
		</ul>
	</div>

	<br><br><br><br>
	<h2>Modify Your Account (<span id='username'><%- username %></span>)</h2>
  	<br>
	<table id='accountModification'>
			<tr><td class='modid'>First Name</td><td><input type='text' name='firstname' id='firstname' value='<%- firstname %>'></td></tr>
			<tr><td class='modid'>Last Name</td><td><input type='text' name='lastname' id='lastname' value='<%- lastname %>'></td></tr>
			<tr><td class='modid'>Email</td><td><input type='text' name='email' id='email' value='<%- email %>'></td></tr>
			<tr><td class='modid'>Zip Code</td><td><input type='text' name='zipcode' id='zipcode' value='<%- zipcode %>'></td></tr>
			<tr><td id='modButtons' colspan=2><input type='submit' onclick='modifyAccount("Cancel")' value='Cancel'><input type='submit' onclick='modifyAccount("Modify")' value='Modify'></td></tr>
	</table>
	<br>
	<div id='modifiedMsg'></div>
	
	<h2>Change Your Password</h2>
  	<br>
	<table id='passwordChange'>
			<tr><td class='modid'>Old Password</td><td><input type='password' name='oldpword' id='oldpword'></td></tr>
			<tr><td class='modid'>New Password</td><td><input type='password' name='newpword' id='newpword'></td></tr>
			<tr><td class='modid'>Confirm Password</td><td><input type='password' name='cnewpword' id='cnewpword'></td></tr>
			<tr><td id='modButtons' colspan=2><input type='submit' onclick='changePassword("Cancel")' value='Cancel'><input type='submit' onclick='changePassword("Change")' value='Change Password'></td></tr>
	</table>
	<br>
	<div id='changedPword'></div>
  
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src='/meditation.js'></script>
</body>
</html>